<div>
    <div class="detail-flex-wrapper ">
        <div class="left-side w-2/6 mr-8">
            <div>
                <img [src]="url" alt="" class="img mb-8 mr-8">
            </div>
            <div>
                <p class="font-bold mb-8 mr-8">{{itemSummary.title}}</p>
                <p class="mb-8 mr-8">{{itemSummary.description}}</p>
            </div>
            <div>
                <div (click)="rateRecipe($event)" class="flex mb-8 justify-center font-bold">
                    <i class="rating__star far fa-star m-4 cursor-pointer" id="1"></i>
                    <i class="rating__star far fa-star m-4 cursor-pointer" id="2"></i>
                    <i class="rating__star far fa-star m-4 cursor-pointer" id="3"></i>
                    <i class="rating__star far fa-star m-4 cursor-pointer" id="4"></i>
                    <i class="rating__star far fa-star m-4 cursor-pointer" id="5"></i>
                </div>
            </div>
            <div class="flex justify-center">
                <a [href]="itemLinks.websiteUrl"><img src="assets/website.png" alt="" width="50px" class="mr-8"></a>
                <a [href]="itemLinks.youtubeUrl"><img src="assets/youtube.png" alt="" width="50px" class="mr-8"></a>
            </div>
        </div>
        <div class="overflow max-height">
            <div class="mb-8 mr-8">
                <p class="font-bold mb-8 mr-8">Υλικα</p>
                <ul *ngFor="let nt of itemContent.ingredients" class=" mb-2 mr-8">
                    <li>{{nt}}</li>
                </ul>
            </div>
            <div>
                <p class="font-bold mb-8s mr-8">Οδηγιες εκτελεσης</p>
                <ul *ngFor="let inst of itemContent.instructions">
                    <li>{{inst}}</li>
                </ul>
            </div>
        </div>
    </div>

    <app-comments></app-comments>

</div>