<!-- <div class="detail-flex-wrapper ">
    <div class="left-side w-2/6 mr-8">
        <div>
            <img [src]="item.imageUrl" alt="" class="img mb-8 mr-8">
        </div>
        <div>
            <p class="font-bold mb-8 mr-8">{{item.title}}</p>
            <p class="mb-8 mr-8">{{item.description}}</p>
        </div>
        <div class="flex justify-center">
            <a [href]="item.websiteUrl"><img src="assets/website.png" alt="" width="50px" class="mr-8"></a>
            <a [href]="item.youtubeUrl"><img src="assets/youtube.png" alt="" width="50px" class="mr-8"></a>
        </div>
    </div>
    <div class="overflow max-height">
        <div class="mb-8 mr-8">
            <p class="font-bold mb-8 mr-8">Υλικα</p>
            <ul *ngFor="let nt of item.ingredients" class=" mb-2 mr-8">
                <li>{{nt}}</li>
            </ul>
        </div>
        <div>
            <p class="font-bold mb-8s mr-8">Οδηγιες εκτελεσης</p>
            <ul *ngFor="let inst of item.instructions">
                <li>{{inst}}</li>
            </ul>
        </div>
    </div>
</div> -->