
.detail-flex-wrapper{
    display: flex;
    background-color: white;
    width: 70%;
    height: fit-content;
    border-radius: 15px;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
}

.left-side{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    min-width: 40%;
    max-width: 50%;

}

.img{
    border-radius: 15px;
}


.max-height{
    height: 500px;
}