<div class="flex justify-center items-center bg-red-500">
    <div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div>
                <label>Email</label>
                <input type="email" [formControl]="email" placeholder="enter email">
            </div>
            <div>
                <label>Password</label>
                <input type="password" [formControl]="password" placeholder="password">
            </div>
            <div>
                <button [disabled]="!loginForm.valid" type="submit">
                    Login
                </button>
            </div>
        </form>

    </div>
</div>