

.hidden{
    display: none;
}

.show{
    display: block;
}


.item-width{
    border-radius: 25px;
    max-width: 100%
}

.div-width{
    width: 300px;
    margin-top: 20px;
    height: fit-content;

}


.img-width{
    max-width: 100%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.button{
    display: block;
    margin-top: 20px;
    background-color: rgb(42, 202, 162);
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}

.max-height{
    height: 400px;
}