<div class="div-width">
    <div class="item-width bg-white">
        <img [src]="imageUrl" alt="" class="img-width">
        <div class="flex place-content-between items-center font-bold mb-2">
            <p class="p-8 ">{{title}}</p>
            <p (click)="setHidden($event)" class="cursor-pointer min-w-fit">
                <img *ngIf="isHidden" src="assets/arrow_right.png" alt="">
                <img *ngIf="!isHidden" src="assets/arrow_down.png" alt="">
            </p>
        </div>
        <div [class.hidden]="isHidden" class="p-8">
            <p>{{description}}</p>
            <div>
                <a [routerLink]="['/item',id]" class="button"> Φτιαξε τη συνταγη</a>
            </div>
        </div>
    </div>
</div>