<form [formGroup]="commentForm" class="p-4 rounded-md  bg-white  max-h-fit">
    <div class="flex items-center">
        <div class="w-11/12  mr-4">
            <input [formControl]="text" type="text" placeholder="review this recipe"
                class="px-4 py-6 border-solid border w-full rounded-md">
        </div>
        <div class="w-1/12 flex justify-center">
            <button class="bg-emerald-400 px-4 py-6 rounded-md text-white font-bold hover:bg-emerald-500"
                (click)="postComment($event)">Submit</button>
        </div>
    </div>
    <div class="flex items-center justify-center" [ngClass]="['hidden: !isLoading','hidden: !isError']">
        <p *ngIf="isLoading" class="text-orange-500 p-4">{{loadingText}}</p>
        <p *ngIf="isError" class="text-red-500 p-4">{{errorText}}</p>
        <p *ngIf="isSuccess" class="text-green-500 p-4">{{successText}}</p>
    </div>
</form>